section{
    display: flex;
    width: 600px;
    height: 430px;
    justify-content: center;
    
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 5;
    transition: .5s ease;
    border-radius: 20px;
    margin: 1%;
}

section img:hover{
    width: 60%;
    opacity: 1;
    filter: contrast(120%);
}

.container{
    background-color: rgb(35, 55, 109);
    max-width: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-link{
    color: rgb(35, 55, 109) !important;
}

.dropdown-menu .dropdown-item{
    color: rgb(35, 55, 109) !important;
  }
  